.container {
    @apply flex justify-center items-center relative min-h-screen;
    background-image: url('../../../../public/img/Fondos/Principal.jpg');
    background-size: cover;
    background-position: center;
}

.container::before {
    @apply absolute top-0 left-0 w-full h-full;
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    @apply p-8 relative z-10;
}

.title {
    @apply text-3xl font-bold text-center text-white;
}
